.materials_categories_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  > * {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.materials_list_container {
  display: flex;
  justify-content: center;
  padding: 10px;
  
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

    li {
      display: flex;
    }
  }

  .item_link {
    margin-left: 15px;
  }
}

@media screen and (max-width:1000px){
  .materials_list_container {
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}

@media screen and (max-width:720px){
  .materials_list_container {
    ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;  
    }
  }
}