.monster_material_container {
  padding: 20px;

  hr {
    color: beige;
    width: 80%;
  }

  .monster_material {
    .accordion_icon {
      display: none;
    }

    .accordion_materials > *:last-child {
        border-bottom: none;
    }

    .img_title {
      display: flex;  

      img {
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }

    .list_images {
      display: flex;
      flex-wrap: wrap;

      .bestiary_image {
        margin: 10px 15px;
        border: 1px solid;
        border-radius: 0.5rem;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}