.monster_material_container {
  padding: 20px;

  hr {
    color: beige;
    width: 80%;
  }

  .monster_material {
    display: flex;
    flex-direction: column;
    
    .list_materials {
      width: 90%;
      display: flex;
      margin: auto;
      border: 1px solid;
      border-radius: 0.5rem;

      .monster_table {
        background-color: #00000020;
        width: 30%;
        margin-right: 5px;

        td {
          display: flex;
        }
      }

      .list_images {
        background-color: #00000020;
        width: 70%;
        padding: 10px;

        .bestiary_image {
          margin: 10px 15px;
          border: 1px solid;
          border-radius: 0.5rem;
  
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}