.characters_version {
  margin-top: 10px;
  
  > div {
    margin: 5px 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .new_charac {
    margin: 5px 10px;

    img {
      padding: 5px;
      border-radius: 1rem;
    }
  }

  .mantine-Image-placeholder {
    margin: -3px;
    border-radius: 0.8rem;
  }
}

@media screen and (max-width:600px){
  .characters_version {
    min-width: unset;
    width: 95%;
  }
}