.info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .info_traveler_elements{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px;

    .traveler_elt {
      cursor: pointer;
      border-width: 3px;
      border-style: solid;
      border-radius: 1rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .pres_info_container {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: flex-end;

    .info_name_elem {
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .info_name {
        font-size: 70px;
        text-align: right;
      }

      .info_rarity {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
      }

      .info_elem {
        text-align: right;
      }
    }

    .info_image {
      position: relative;
      top: -7px;
      margin-left: 20px;

      > * {
        border-radius: 0 1rem;
      }
    }
  }
}