.advancement_container {
  .base_stats_container {
    .base_stats_table {
      font-size: 16px;
      margin: 10px 0 0 0;

      thead tr th {
        border-bottom: 1px solid #fff;
      }
      
      td, th {
        text-align: center;
      }
    }

    .base_stats_level {
      display: flex;
      justify-content: space-between;

      .base_stats_slider {
        width: 100%;
      }

      .base_stats_switch {
        white-space: nowrap;
        margin-left: 10px;
        margin-bottom: 20px;
        
        .base_stats_switch_label {
          font-size: 14px;
        }
      }
    }
  }

  .ascent_container{
    .ascent_table_container {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .ascent_table {
        th {
          width: 150px;
          font-size: 15px;
          border-right: 1px solid black;
        }
  
        td {
          padding-left: 30px;
        }
  
        tr:not(:last-child) > * {
          border-bottom: 1px solid black;
        }
        
        .ascent_item {
          display: flex;
          padding: 5px;
          
          .ascent_item_image {
            margin-right: 5px;
          }
        }
      }
    }
  }
}