.welcome_container {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  width: 80%;
  margin: 40px auto;
  padding: 15px;
  text-align: center;
  background-color: #ffffee;
  border-radius: 1rem;
  border: 7px #60a53d solid;

  h1 {
    font-size: 44px;  
  }
}