.weapon_container {
  padding: 15px 15px 0 15px;
  
  .separator {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    
    > * {
      width: 80%;
    }
  }

  .name_image {
    display: flex;
    flex-wrap: wrap-reverse;
    
    .name {
      margin-left: 20px;
    }
  }

  .weapon_description {
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 18px;

    > * {
      width: 90%;
      margin: auto;
    }
  }

  .base_stats_container {
    width: 90%;
    margin: auto;

    .tab_and_lvl {
      display: flex;

      .base_stats_table {
        width: 40%;
        font-size: 16px;
        margin: 10px 0 0 0;
  
        thead tr th {
          border-bottom: 1px solid #fff;
        }
        
        td, th {
          text-align: center;
        }
      }
      
      .base_stats_level {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .base_stats_slider {
          width: 100%;
        }
  
        .base_stats_switch {
          white-space: nowrap;
          margin-left: 10px;
          margin-bottom: 20px;
          
          .base_stats_switch_label {
            font-size: 14px;
          }
        }
      }
    }
  }

  .ascent_container{
    width: 90%;
    margin: auto;

    .ascent_table_container {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .ascent_table {
        th {
          width: 150px;
          font-size: 15px;
          border-right: 1px solid black;
        }
  
        td {
          padding-left: 30px;
        }
  
        tr:not(:last-child) > * {
          border-bottom: 1px solid black;
        }
        
        .ascent_item {
          display: flex;
          padding: 5px;
          
          .ascent_item_image {
            margin-right: 5px;
          }
        }
      }
    }
  }
}