.character_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 2rem;
  border-radius: 1rem;
  min-width: 220px;
  height: 240px;
  text-align: center;
  
  box-shadow:
    0 1.6px 1.6px rgba(0, 0, 0, 0.023),
    0 3.8px 3.8px rgba(0, 0, 0, 0.034),
    0 6.9px 6.9px rgba(0, 0, 0, 0.041),
    0 11.4px 11.4px rgba(0, 0, 0, 0.049),
    0 18.8px 18.8px rgba(0, 0, 0, 0.056),
    0 32.8px 32.8px rgba(0, 0, 0, 0.067),
    0 71px 71px rgba(0, 0, 0, 0.09)
  ;
  transition: all 0.2s ease-in-out;

  
  &:hover {
    transform: scale(1.1);
  }

  .character_card_image {
    cursor: pointer;
  }

  .character_card_name {
    margin-top: 5px;
    font-size: 28px;
    max-width: 180px;
  }
}