.character_list_filter_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 15px;

  > * {
    width: 20%;
    min-width: 220px;
    margin: 0 20px;
  }
}