.achievement_groups_container {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .achievement_groups_card {
    margin: 0 20px 20px 20px;
    width: 260px;
    height: 350px;
    background-color: #72040199;
    border-radius: 1rem;

    .img_name {
      padding: 5px;
      font-size: 14px;
      font-weight: bolder;
      
      .img {
        position: relative;
      }

      p {
        font-family: 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
        text-align: center;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.achievement_container {
  padding: 15px 15px 0 15px;
  
  .group_list {
    padding: 0 15px;
    width: 250px;
    height: 90vh;
    
    .group_item {
      background-color: aqua;
      border-radius: 0.8rem;
      flex-wrap: nowrap;
      padding: 5px;
      height: 70px;
      
      .text {
        overflow-wrap: break-word;
        font-size: 18px;
      }  
    }
  }
}