.namecard_container {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .namecard_card {
    margin: 0 20px 20px 20px;

    .img_name {
      background-color: #CCCCCC;
      padding: 5px;
      font-size: 14px;
      font-weight: bolder;
      
      p {
        word-wrap: break-word;
      }
    }
  }
}